    <nav id="menu">
        <div class="container menu-section">
            <h2>Menu</h2>

            <div class="menu-category">
                <h5>Planches</h5>
                <ul>
                    <li>Planche charcuterie<span>6€</span></li>
                    <li>Planche fromage<span>6€</span></li>
                </ul>
            </div>

            <div class="menu-category">
              <h5>Entrées / Snacks</h5>
              <ul>
                <li>Samoussa x4<span>4€</span></li>
              </ul>
            </div>

  <div class="menu-category">
    <h5>Plats</h5>
    <ul>
      <li>
      Croque Monsieur + salade <span>6€</span>
      <small>Choix : porc ou poulet</small>
</li>
      <li>
        Gaufre salée + salade<span>6€</span>
        <small>Choix : chorizo ou fromage de chèvre</small>
      </li>
    </ul>
  </div>

  <div class="menu-category">
    <h3>Desserts</h3>
    <ul>
      <li>Floup (exotique, vanille)<span>2,50€</span></li>
      <li>
        Gaufre <span>4€</span>
        <small>Accompagnements : Nutella, sucre glace, miel, chantilly</small>
      </li>
    </ul>
  </div>
</div>
</nav>