/* ---------------- Accueil Section ---------------- */
.accueil {
  color: whitesmoke;
  text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.5);
  background: url("https://cdn.vox-cdn.com/thumbor/teAmN_9ENCEO1RdjiLNwZ6tf4VQ=/0x0:1650x1100/1200x0/filters:focal(0x0:1650x1100):no_upscale()/cdn.vox-cdn.com/uploads/chorus_asset/file/23968986/Alimento_x_PREEN_0084_7x11_150.jpg") center/cover no-repeat;
}
