/* ---------------- Hero Section ---------------- */
.hero {
  color: #4f7942;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  padding: 10px 20px;

}

.hero h1 {
  font-size: 2.5rem;
}

.hero .leap {
  font-size: 2rem;
}

/*
.accueil {
  background: url("https://cdn.vox-cdn.com/thumbor/teAmN_9ENCEO1RdjiLNwZ6tf4VQ=/0x0:1650x1100/1200x0/filters:focal(0x0:1650x1100):no_upscale()/cdn.vox-cdn.com/uploads/chorus_asset/file/23968986/Alimento_x_PREEN_0084_7x11_150.jpg") center/cover no-repeat;
}
*/